.app-header .navigation-container {
	position: relative;
	height: 64px;
    width: calc(100% - 256px);
    margin-left: 256px;
}

.app-header .navigation-container ul {
	float: right;
	padding: 0;
	margin: 0;
}

.app-header .navigation-container ul li {
	list-style-type: none;
	display: inline-block;
}

.app-header .navigation-container ul li a {
	padding: 0 15px;
	color: #fff;
}

.app-header nav {
    position: fixed;
	background-color: #009be5;    
	height: 64px;
	z-index: 999;
	left: 256px;
	right: 0;
	color: #fff;
	display: flex;
	align-items: center;
	padding: 0 15px;
}

.app-header .title {
	display: inline-block;
	font-size: 20px;
	flex: 1;
}


.main-content {
    margin-left: 256px;
    width: calc(100%-256px);
    padding: 30px 15px 0;
}
.app-header .sidenav {
	width: 256px;
	background-color: rgba(0, 0, 0, 0.87);
	top: 0;
	flex: 1 0 auto;
	height: 100%;
	display: flex;
	outline: 0;
	z-index: 1200;
	position: fixed;
	overflow-y: auto;
	flex-direction: column;
	background-color: #18202c;
}

.app-header .sidenav .lists {
	margin: 20px 0;
	border-bottom: 2px solid #FFF;
}

.app-header .sidenav .lists li a {
    padding: 10px 5px;
    display: block;
    color: rgba(255, 255, 255, 0.7);
}
.app-header .sidenav .lists li a:hover, .app-header .sidenav .lists li a .active {
	color: #4fc3f7;
}
.app-header .sidenav .lists li .material-icons {
	vertical-align: middle;
	margin-right: 10px;
}